:root {
    --light-color: #c1c1c1;
    --third-color: #222222;
    --dark-color: #111111;
}

@font-face {
    font-family: "OpenSansBold";
    src: url('../assets/fonts/Open_sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: "OpenSansMedium";
    src: url('../assets/fonts/Open_sans/OpenSans-Medium.ttf');
}

@font-face {
    font-family: "OpenSansLight";
    src: url('../assets/fonts/Open_sans/OpenSans_Condensed-Light.ttf');
}

/* HOLDS THE SKILLS BOX*/
.skills-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    place-items: center;
}

/* THE SKILLS BOX ITSELF*/
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    grid-template-areas: "header header"
                        "great-with comfortable-with"
                        "images images";
    background-color: var(--third-color);
    justify-items: center;
    padding: 10px;
    border-radius: 20px;
    font-family: "OpenSansBold";
    transition: all ease 0.4s;
    max-width: 300px;
}

/*HOLDS THE ACTUAL SKILL SECTIONS*/
.skills-sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
}

.skills:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(135, 0, 198, 0.3);
}

.skill-section-title {
    color: rgba(135, 0, 198, 1);
    font-family: "OpenSansBold";
    font-size: 1.2rem;
    width: 120px;
}

/*EACH INDIVIDUAL SKILL SECTION*/
.skill-section {
    font-size: 1rem;
    text-align: center;
    font-family: "OpenSansMedium";
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    width: 120px;
} 

.skills-title {
    font-family: "OpenSansBold";
    color: var(--light-color);
    font-size: 2rem;
    margin-top: 20px;
}

/* The list of SKILLs*/
.skill-section > ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: images;
    gap: 10px;
}

.images img {
    height: 60px;
}

@media only screen and (min-width: 480px) {
    .images img {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .skills {
        width: 500px !important;
        max-width: 600px !important;
    }
    .skills-sections-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  
}