:root {
    --light-color: #c1c1c1;
    --third-color: #222222;
    --dark-color: #111111;
}

@font-face {
    font-family: "OpenSansBold";
    src: url('../assets/fonts/Open_sans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: "OpenSansMedium";
    src: url('../assets/fonts/Open_sans/OpenSans-Medium.ttf');
}

@font-face {
    font-family: "OpenSansLight";
    src: url('../assets/fonts/Open_sans/OpenSans_Condensed-Light.ttf');
}

.skills-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh;
    place-items: center;
   
}

.skills {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 100px 300px 100px;
    grid-template-areas: "header header"
                        "great-with comfortable-with"
                        "images images";
    background-color: var(--third-color);
    justify-items: center;
    padding: 5px;
    border-radius: 20px;
    font-family: "OpenSansBold";
    transition: all ease 0.4s;
}

.skills:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(0, 255, 0, 0.3);
}

.title {
    color: green;
    font-family: "OpenSansBold";
    font-size: 1.2rem;
}

.great-with {
    grid-area: great-with;
    font-size: 1rem;
    text-align: center;
    font-family: "OpenSansMedium";
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills-title {
    grid-area: header;
    font-family: "OpenSansBold";
    color: var(--light-color);
    font-size: 2rem;
    margin-top: 20px;
}

.comfortable-with {
    grid-area: comfortable-with;
    font-size: 1rem;
    text-align: center;
    font-family: "OpenSansMedium";
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comfortable-with ul,
.great-with ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: images;
    gap: 10px;
}

.images img {
    height: 60px;
}

@media only screen and (min-width: 480px) {
    .skills {
        grid-template-columns: 200px 200px;
    }
    .images img {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  
}