.resume {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resume h1 {
  font-family: "OpenSansBold";
  color: var(--light-color);
  font-size: 2rem;
}

.resume a {
  text-decoration: none;
  display: block;
  background-color: rgba(135, 0, 198, 1);
  color: white;
  padding: 25px;
  width: 180px;
  margin: 30px;
  border-radius: 15px;
  font-family: "OpenSansBold";
  border: 2px solid rgba(135, 0, 198, 1);
  transition: all ease 0.4s;
  box-sizing: border-box;
}

.resume a:hover {
  background-color: var(--dark-color);
  box-shadow: 0px 0px 30px rgba(135, 0, 198, 0.3);
  cursor: pointer;
}